 body{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
 }
 p{
   font-size: 17px;   
 }
 #Lname{
   font-size: 17px; 
 }
 #Fname{
   font-size: 17px;  
 }
 #Choice1{
   font-size: 17px;
 }
 #Choice2{
   font-size: 17px;
 }
 #Choice3{
   font-size: 17px;
 }
 #1{
  
  margin-right: 500px;
  margin-left: 80px;
 }
 #2{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 80px;
 }
 #3{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 80px;
 }
 #4{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 80px;
 }
 #5{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 80px;
 }