<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="PTJ.html"></script>

    <script src="script.js"></script>
    
    <script src="style.css"></script>
    
    <script src="Formwebapp.py"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style.css">
  
  <title>Breakfast Choice</title>
</body>
</html>
</head>
  <body id="background1">
   
    
<form action="/Breakfast">

  
  <p>Pick 3 of these items:</p>
  <p>Eggs, French toast, Bananas, waffles, Pancakes</p>
  <p>Yogurt, Oatmeal, Cheese, Milk, Syrup </p>
  <label for="choice1">Choice 1:</label><br>
  <input type="text" id="Choice1" name="choice1" value=""><br><br>
  <label for="choice2">Choice 2:</label><br>
  <input type="text" id="Choice2" name="choice2" value=""><br><br>
  <label for="choice3">Choice 3:</label><br>
  <input type="text" id="Choice3" name="choice3" value=""><br><br>

  
  
  <input type="submit" name="submit" value="Submit"> 
  </form> 



</body></html>


