<!DOCTYPE html>
<html>
<head><title> Job Application </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
<script src="{{ url_for('static', filename='script.js') }}">

</script>

<h2></h2>

<form action="/action_page.php">

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="lname">Age:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="lname">Date of Birth:</label><br>
  <input type="text" id="lname" name="lname" value="DD/MM/YYYY"><br><br>

  
  
</form> 



</body>
</html>


