<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="script.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style.css">
  
  <title>Job Application</title>
</body>
</html>

<form action="/action_page.php">

  <label id="FN"for="fname">First name:</label><br>
  <input type="text" id="Fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="Lname" name="lname" value=""><br><br>
  <label for="lname">Age:</label><br>
  <input type="text" id="Lname" name="lname" value=""><br><br>
  <label for="lname">Date of Birth:</label><br>
  <input type="text" id="Lname" name="lname" value="DD/MM/YYYY"><br><br>
  

  <label for="Form">Area code:</label><br>
  <input type="text" id="Form" name="Form" value=""><br>
  <label for="Form1">Phone Number:</label><br>
  <input type="text" id="Form1" name="Form1" value=""><br><br>
  <label for="Form2">Email:</label><br>
  <input type="text" id="Form2" name="Form2" value=""><br><br>
  <label for="Form3">Cover Letter:</label><br>
  <input type="text" id="Form3" name="Form3" value=""><br><br>
  <textarea id="Form3" name="Form3" rows="4" cols="50">
 
  
  
  Name: <input type="text" name="name" value="<?php echo $name;?>">

  E-mail: <input type="text" name="email" value="<?php echo $email;?>">

  Website: <input type="text" name="website" value="<?php echo $website;?>">

  Comment: <textarea name="comment" rows="5" cols="40"><?php echo $comment;?></textarea>

  Gender:
  <input type="radio" name="gender"
  <?php if (isset($gender) && $gender=="female") echo "checked";?>
  value="female">Female
  <input type="radio" name="gender"
  <?php if (isset($gender) && $gender=="male") echo "checked";?>
  value="male">Male
  <input type="radio" name="gender"
  <?php if (isset($gender) && $gender=="other") echo "checked";?>
  value="other">Other
  
   <input type="submit" value="Submit">
   
  </form> 



</body>
</html>


